<section id="our-classes" class="py-5">
    <div class="container text-start">
        <h2 class="mb-2 text-center">Our Classes</h2>
        <p class="mb-5 text-center">Motivate users with benefits and positive reinforcement, and offer modifications <br>and progress tracking.</p>
        <div class="row g-4">
            <div class="col-md-4">
                <div class="card border-0 shadow rounded-4 overflow-hidden">
                    <img src="assets/Rectangle 20 (2).jpg" class="card-img-top" alt="Pilates Training">
                    <div class="card-body text-white ">
                        <h5 class="card-title">Pilates Training</h5>
                        <p class="card-text">Elevate your core strength and
                            flexibility with our  Pilates training</p>
                        <a href="#" class="text-decoration-none">Read More →</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 shadow rounded-4 overflow-hidden">
                    <img src="assets/Rectangle 20 (1).jpg" class="card-img-top" alt="Aerobic Training">
                    <div class="card-body text-white">
                        <h5 class="card-title">Aerobic Training</h5>
                        <p class="card-text">Energize your heart and lungs
                            with our Aerobic Training</p>
                        <a href="#" class="text-decoration-none">Read More →</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 shadow rounded-4 overflow-hidden">
                    <img src="assets/Rectangle 20.jpg" class="card-img-top" alt="Cross-fit Workout">
                    <div class="card-body text-white">
                        <h5 class="card-title">Cross-fit Workout</h5>
                        <p class="card-text">Get Cross-fit strong with our <br>
                            Intense workouts</p>
                        <a href="#" class="text-decoration-none">Read More →</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
