<div class="container p-5  about-section" id="about-us">
    <div class="row">
      <div class="col-5 text-content">
        <h2>About Us</h2>
        <p>At FitnessPro, we're not just a gym, we're a community of fitness enthusiasts on a mission to help you become your own hero. With a team of experienced trainers and a commitment to personalized fitness, we're here to support your journey to greatness. Join us and be part of a fitness.</p>
        <button class="custom-btn">Read More</button>
      </div>

      <div class="col-2"></div> <!-- فراغ في الوسط -->

      <div class="col-5 img-content">
        <img src="assets/Rectangle 14.jpg" alt="Gym Equipment" class="img-fluid rounded">
      </div>
    </div>
  </div>


