<!-- fitness-programs.component.html -->
<section id="fitness-programs" class="programs-section body">
    <div class="container">
        <h1>The best programs we offer <br> for you</h1>
        <p>Motivate users with benefits and positive reinforcement, and offer modifications <br> and progress tracking.</p>

        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="program-card light position-relative">
                    <div class="program-icon position-absolute top-0 start-0 m-2 "><i class="fas fa-dumbbell fs-5 "></i></div>
                    <img src="assets/Ellipse 2.svg" alt="Strength Training" class="program-image">
                    <h3>Strength Training</h3>
<p>At FitnessPro, we're not just a gym, we're a community
    of fitness enthusiasts on a mission to help you become
     your own hero. With a team of experienced trainers and a commitment to personalized fitness, we're here to support your journey to greatness. Join us and be part of a fitness.</p>                    <a href="#">Read More →</a>
                </div>

            </div>

            <div class="col">
                <div class="program-card dark position-relative">
                    <div class="program-icon position-absolute top-0 start-0 m-2"><i class="fas fa-hand-fist fs-5"></i></div>
                    <img src="assets/Ellipse 2 (1).svg" alt="Body Building" class="program-image">
                    <h3>Body Building</h3>
                     <p>At FitnessPro, we're not just a gym, we're a community
                        of fitness enthusiasts on a mission to help you become
                      your own hero. With a team of experienced trainers and a commitment to personalized fitness, we're here to support your journey to greatness. Join us and be part of a fitness.</p>                    <a href="#">Read More →</a>
                </div>
            </div>

            <div class="col">
                <div class="program-card light position-relative">
                    <div class="program-icon position-absolute top-0 start-0 m-2"><i class="fa-solid fa-person-walking fs-5"></i></div>
                    <img src="assets/Ellipse 2 (2).svg" alt="Yoga" class="program-image">
                    <h3>Yoga</h3>
               <p>At FitnessPro, we're not just a gym, we're a community
                  of fitness enthusiasts on a mission to help you become
                  your own hero. With a team of experienced trainers and a commitment to personalized fitness, we're here to support your journey to greatness. Join us and be part of a fitness.</p>                    <a href="#">Read More →</a>
                </div>
            </div>

            <div class="col">
                <div class="program-card dark position-relative">
                    <div class="program-icon position-absolute top-0 start-0 m-2 "><i class="fas fa-dumbbell fs-5"></i></div>
                    <img src="assets/Ellipse 2 (3).svg" alt="Cycling" class="program-image">
                    <h3>Cycling</h3>
                <p>At FitnessPro, we're not just a gym, we're a community
                  of fitness enthusiasts on a mission to help you become
                   your own hero. With a team of experienced trainers and a commitment to personalized fitness, we're here to support your journey to greatness. Join us and be part of a fitness.</p>                    <a href="#">Read More →</a>
                </div>
            </div>
        </div>
    </div>
</section>

