<div class="background">
    <app-navbar></app-navbar>
    <div class="grid-container">
        <div class="left-content">
            <h1 >Helps for your <br> ideal body fitness</h1>
            <p class="text-title">Motivate users with benefits and positive reinforcement,<br> and offer modifications and progress tracking.</p>

            <div class="button">Get Started</div>

            <div class="stats-container">
                <div class="stat">
                    <div class="number">105</div>
                    <div class="label">Expert Trainers</div>
                </div>

                <div class="stat">
                    <div class="number">970+</div>
                    <div class="label">Member Joined</div>
                </div>

                <div class="stat">
                    <div class="number">135+</div>
                    <div class="label">Fitness Program</div>
                </div>
            </div>
        </div>

        <div class="right-content">
            <div class="image-card">
                <img src="assets/image 5.jpg" alt="Fitness Trainer">
                <p class="quote">As you get older, you begin to lose your appetite and your metabolism slows down</p>
                <p class="author">Adam Smith</p>
            </div>
        </div>
    </div>

</div>
