<div class="container page">
  <div class="cont d-flex position-relative align-content-center flex-column ">
    <button class="x"  routerLink="/layout/home"><i class="fa-solid fa-x"></i></button>
    <div class="header d-flex justify-content-center">
      <p>Forget Your Password?</p>
    </div>
    <form class="d-flex justify-content-center  flex-column" [formGroup]="changePasswordForm" (ngSubmit)="ResetPassword()">
      <div class="form-group w-100 mb-3 "[ngClass]="{'no-margin': newPassword?.invalid && newPassword?.touched}">
        <input type="password" class="w-100 input" placeholder="New Password" formControlName="newPassword" />
        <div *ngIf="newPassword?.invalid && (newPassword?.touched || newPassword?.dirty)">
          <small style="color: red;" *ngIf="newPassword?.errors?.['required']">Password is required</small>
          <small style="color: red;" *ngIf="newPassword?.errors?.['minlength']">Minimum 6 characters</small>
          <small style="color: red;" *ngIf="!newPassword?.errors?.['required'] && !newPassword?.errors?.['minlength'] && newPassword?.errors?.['strongPassword']">
            Password must include uppercase,lowercase,number and special character
          </small>
        </div>
      </div>

      <div class="form-group w-100 mb-3 " [ngClass]="{'no-margin': confirmPassword?.invalid && confirmPassword?.touched || changePasswordForm.errors?.['passwordsMismatch']}">
        <input type="password" class="w-100 input" placeholder="Confirm Password" formControlName="confirmPassword" />
        <div *ngIf="confirmPassword?.invalid && (confirmPassword?.touched || confirmPassword?.dirty)">
          <small  *ngIf="confirmPassword?.errors?.['required']">Please confirm password</small>
        </div>
        <div *ngIf="changePasswordForm.errors?.['passwordsMismatch'] && confirmPassword?.touched">
          <small >Passwords do not match.</small>
        </div>
      </div>

    <div class="d-flex mt-2 justify-content-center">
      <button type="submit"  [disabled]="changePasswordForm.invalid" class="btn">Reset Password</button>
    </div>

    </form>

    <div class="d-flex justify-content-center mt-3">
      <a routerLink="/logging/login" ><i class="fa-solid fa-arrow-left"></i><p class="ms-2"> Back to log in</p></a>
    </div>
  </div>
</div>
