<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand ms-4" href="#">
      <img src="assets/logo.png" alt="Logo" style="width: 80px;">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mx-auto d-flex justify-content-center gap-3 mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLinkActive="active" routerLink="/layout/home">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active"  routerLink="/layout/onlineTraning" >Online Training</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/layout/gym" >Gyms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/posts">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLinkActive="active" *ngIf="!isCoach" routerLink="/layout/Chat">Chat</a>
          <a class="nav-link" routerLinkActive="active" *ngIf="isCoach"   routerLink="/layout/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" *ngIf="isCoach" [routerLink]="['/layout/chat',getId()]">Chat</a>
        </li>
      </ul>

      <div class="me-4">
        <div class="join-btn" *ngIf="!isLogged" routerLink="/logging/login" >Join Us</div>
        <div class="log-out" *ngIf="isLogged" (click)="logout()" >Log Out</div>
      </div>
    </div>
  </div>
</nav>
