<div class="modal-header border-0 pb-0">
  <h5 class="modal-title w-100 text-center fw-bold mb-3">Password Changing</h5>
</div>

<div class="modal-body p-4">
  <form [formGroup]="passwordForm">

    <!-- Old Password -->
    <div class="mb-4 d-flex flex-column">
      <label class="form-label">Last Password</label>
      <input type="password" formControlName="oldPassword" placeholder="Last Password" class="form-control">
      <small class="text-danger " *ngIf="oldPassword?.touched && oldPassword?.invalid">
        Last password is required.
      </small>
    </div>

    <!-- New Password -->
    <div class="mb-4 d-flex flex-column">
      <label class="form-label">New Password</label>
      <input type="password" formControlName="newPassword" placeholder="New Password" class="form-control">
      <small class="text-danger " *ngIf="newPassword?.touched && newPassword?.invalid">
        <span *ngIf="newPassword?.errors?.['required']">New password is required.</span>
        <span *ngIf="newPassword?.errors?.['minlength']">New password must be at least 6 characters.</span>
        <span *ngIf="newPassword?.touched && !newPassword?.errors?.['required'] && !newPassword?.errors?.['minlength'] && newPassword?.errors?.['strongPassword']">
          Password must include uppercase,lowercase,number and special character.
        </span>
      </small>
    </div>

    <!-- Confirm Password -->
    <div class="mb-4 d-flex flex-column">
      <label class="form-label">Confirm Password</label>
      <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" class="form-control">
      <small class="text-danger " *ngIf="confirmPassword?.touched && confirmPassword?.invalid">
        Confirm password is required.
      </small>
      <small class="text-danger " *ngIf="passwordForm?.errors?.['passwordsMismatch'] && confirmPassword?.touched">
        Passwords do not match.
      </small>
    </div>

    <!-- Submit Button -->
    <div class="modal-footer border-0 pt-0 justify-content-center">
      <button type="button" class="btn btn-primary w-50" (click)="submit()">Submit</button>
    </div>

  </form>
</div>
