<div class="container page">
  <div class="cont d-flex position-relative align-content-center flex-column ">
    <button class="x"  routerLink="/layout/home"><i class="fa-solid fa-x"></i></button>
    <div class="d-flex justify-content-center flex-column">
      <div class="header d-flex justify-content-center">
        <p>All is Done!</p>
      </div>
      <div class="d-flex justify-content-center">
        <img src="assets/allDone.svg" alt="">
      </div>
      <div class="d-flex justify-content-center mt-3">
        <a routerLink="/logging/login" ><i class="fa-solid fa-arrow-left"></i><p class="ms-2"> Back to log in</p></a>
      </div>
    </div>
  </div>
</div>
