.page{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.cont{
  border-radius: 15px;
  box-shadow: 39.266666412353516px -39.266666412353516px 39.27px rgba(165, 165, 165, 0.1) inset, -39.266666412353516px 39.266666412353516px 39.27px rgba(255, 255, 255, 0.1) inset;
  backdrop-filter: blur(78.53px);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 3rem;
}

.cont .x {
  right: 17px;
  top: 7%;
  z-index: 66;
  transform: translate(0, -50%);
  position: absolute;
  background-color: var(--color-third);
  color: white;
  border-color: transparent;
  padding: 0 9px;
  border-radius: 0 8px 0px 8px;
}

.btn{
  background: var(--gradient-bg);
  box-shadow: var(--drop-shadow);
  cursor: pointer;
  border: 1px solid white;
  color: white;
  width: 85%;
  position: relative;
  font-size: 20px;
}


.header p{
  color: var(--color-third);
  font-size: 32px;
  font-weight: 700;
}
.text p{
  color: white;
  font-size: 16px;
}
.a a{
  text-decoration: none;
  color: white !important;
  cursor: pointer;
  display: flex;
  align-items: baseline;
  font-size: 20px;
}

.resent p{
  color: white;
}
.resent a{
  text-decoration: none;
  color: var(--color-third);
  cursor: pointer;
}
@media (max-width :576px) {

  .text p{
  font-size: 12px;
  text-align: center !important;
 }
 .header p{
  font-size: 22px;
}
a{
  font-size: 13px;
}
.resent p{
  font-size: 13px;
}
.btn{
  font-size: 15px;
}
.isTrue p {
  font-size: 12px;
}
}

.isTrue p span{
  color: red;
}
.text p span{
  color: var(--color-third)
}

@media (min-width: 576px) {
  .cont{
    width: 80%;
  }
}

@media (min-width: 768px) {
  .cont{
    width: 75%;
  }
}

@media (min-width: 992px) {
  .cont{
    width: 60% ;
  }
}

@media (min-width: 1200px) {
  .cont{
    width: 38% ;
  }
}

@media (min-width: 1400px) {
  .cont{
    width: 38% ;
  }
}

.toast-container {
  position: fixed;
  top: 90px; /* Position at the top */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  z-index: 1050;
}
