<div class="container page">
  <div class="cont d-flex position-relative align-content-center flex-column">
    <button class="x" routerLink="/layout/home"><i class="fa-solid fa-x"></i></button>

    <div class="title">
      <p>Sign Up</p>
    </div>

    <app-rout-sign-up></app-rout-sign-up>

    <div class="header">
      <p>Do you own a shop?</p>
    </div>

    <form class="w-100" [formGroup]="shopInfoForm" (ngSubmit)="sendData()">

      <!-- Shop Name -->
      <div class="form-group mb-3"
          [ngStyle]="(ShopName?.invalid && ShopName?.touched) ? {'margin-bottom': '0'} : {}">
        <div class="position-relative">
          <input type="text" class="w-100 input" placeholder="Shop Name" formControlName="ShopName" />
        </div>
        <small *ngIf="ShopName?.invalid && ShopName?.touched">
          <span *ngIf="ShopName?.errors?.['required']">Gym Name is required.</span>
        </small>
      </div>

      <!-- Address -->
      <div class="form-group mb-3"
          [ngStyle]="(Address?.invalid && Address?.touched) ? {'margin-bottom': '0'} : {}">
        <div class="position-relative">
          <input type="text" class="w-100 input" placeholder="Address" formControlName="Address" />
          <i class="fa-solid fa-location-dot end-i"></i>
        </div>
        <small *ngIf="Address?.invalid && Address?.touched">
          <span *ngIf="Address?.errors?.['required']">Address is required.</span>
        </small>
      </div>

      <!-- Governorate & City -->
      <div class="row g-2">
        <div class="col-12 col-sm-6 w-50">
          <div class="form-group mb-3"
              [ngStyle]="(Governorate?.invalid && Governorate?.touched) ? {'margin-bottom': '0'} : {}">
            <div class="position-relative">
              <input type="text" class="w-100 input" placeholder="Governorate" formControlName="Governorate" />
              <i class="fa-solid fa-location-dot end-i"></i>
            </div>
            <small *ngIf="Governorate?.invalid && Governorate?.touched">
              <span *ngIf="Governorate?.errors?.['required']">Governorate is required.</span>
            </small>
          </div>
        </div>

        <div class="col-12 col-sm-6 w-50">
          <div class="form-group mb-3"
               [ngStyle]="(City?.invalid && City?.touched) ? {'margin-bottom': '0'} : {}">
            <div class="position-relative">
              <input type="text" class="w-100 input" placeholder="City" formControlName="City" />
              <i class="fa-solid fa-location-dot end-i"></i>
            </div>
            <small *ngIf="City?.invalid && City?.touched">
              <span *ngIf="City?.errors?.['required']">City is required.</span>
            </small>
          </div>
        </div>
      </div>

      <!-- Phone Number -->
      <div class="form-group mb-3"
          [ngStyle]="(phoneNumber?.invalid && phoneNumber?.touched) ? {'margin-bottom': '0'} : {}">
        <div class="position-relative">
          <input type="number" class="w-100 input" placeholder="Phone Number" formControlName="PhoneNumber" />
          <i class="fa-solid fa-mobile-screen-button end-i"></i>
        </div>
        <small *ngIf="phoneNumber?.invalid && phoneNumber?.touched">
          <span *ngIf="phoneNumber?.errors?.['required']">Phone Number is required.</span>
          <!-- <span *ngIf="phoneNumber?.errors?.['pattern']">Phone Number is invalid.</span> -->
        </small>
      </div>

      <!-- Description -->
      <div class="form-group mb-3"
          [ngStyle]="(Description?.invalid && Description?.touched) ? {'margin-bottom': '0'} : {}">
        <textarea name="description" rows="2" class="w-100" formControlName="Description" placeholder="Description"></textarea>
        <small *ngIf="Description?.invalid && Description?.touched">
          <span *ngIf="Description?.errors?.['required']">Description is required.</span>
        </small>
      </div>

      <!-- Accept Button -->
      <div class="d-flex next w-100 justify-content-center">
        <button class="btn mt-1">Accept</button>
      </div>
    </form>

    <button class="btn skip mt-2" routerLink="/layout/home">Skip for Now</button>
  </div>
</div>
