<div class="container page">
  <div class="cont d-flex position-relative align-content-center flex-column">
    <button class="x" routerLink="/layout/home"><i class="fa-solid fa-x"></i></button>
    <div class="title">
      <p>Sign Up</p>
    </div>

    <app-rout-sign-up></app-rout-sign-up>
    <div class="header">
      <p>Do you offer online training?</p>
    </div>
    <form class="w-100" [formGroup]="OnlineTrainingForm" (ngSubmit)="onSubmit()" >
      <div class="form-group mb-3" [ngClass]="{'no-margin': title?.invalid && title?.touched}">
        <div class="position-relative">
          <input type="text" class="w-100 input" placeholder="Title" formControlName="title" />
        </div>
        <small *ngIf="title?.invalid && title?.touched">
          <span *ngIf="title?.errors?.['required']">Title is required.</span>
        </small>
      </div>

      <div class="form-group mb-2" [ngClass]="{'no-margin': description?.invalid && description?.touched}">
        <textarea name="description" rows="2" class="w-100" formControlName="description" placeholder="Description"></textarea>
        <small *ngIf="description?.invalid && description?.touched">
          <span *ngIf="description?.errors?.['required']">Description is required.</span>
        </small>
      </div>

      <div class="form-group mb-3" [ngClass]="{'no-margin': trainingType?.invalid && trainingType?.touched}">
        <div class="position-relative">
          <select class="w-100 input" formControlName="trainingType">
            <option value="" hidden selected>Select training type</option>
            <option value="Public ">Public</option>
            <option value="Group">Group</option>
          </select>
          <i class="fa-solid fa-caret-down end-i"></i>
        </div>
        <small style="color: red;" *ngIf="trainingType?.invalid && trainingType?.touched">
          trainingType is required.
        </small>
      </div>

      <div class="form-group mb-3" [ngClass]="{'no-margin': noOfSessionsPerWeek?.invalid && noOfSessionsPerWeek?.touched}">
        <div class="position-relative">
          <input type="number" class="w-100 input" placeholder="No Of Sessions Per Week" formControlName="noOfSessionsPerWeek" />
          <i class="fa-solid fa-hashtag end-i"></i>
        </div>
        <small *ngIf="noOfSessionsPerWeek?.invalid && noOfSessionsPerWeek?.touched">
          <span *ngIf="noOfSessionsPerWeek?.errors?.['required']">noOfSessionsPerWeek is required.</span>
        </small>
      </div>

      <div class="form-group mb-3" [ngClass]="{'no-margin': durationOfSession?.invalid && durationOfSession?.touched}">
        <div class="position-relative">
          <input type="number" class="w-100 input" placeholder="duration of Session (minutes)" formControlName="durationOfSession" />
          <i class="fa-solid fa-clock end-i"></i>
        </div>
        <small *ngIf="durationOfSession?.invalid && durationOfSession?.touched">
          <span *ngIf="durationOfSession?.errors?.['required']">duration of session is required.</span>
        </small>
      </div>

      <div class="form-group mb-3" [ngClass]="{'no-margin': price?.invalid && price?.touched}">
        <div class="position-relative">
          <input type="number" class="w-100 input" placeholder="Price" formControlName="price" />
          <i class="fa-solid fa-money-bill end-i"></i>
        </div>
        <small *ngIf="price?.invalid && price?.touched">
          <span *ngIf="price?.errors?.['required']">Price is required.</span>
        </small>
      </div>




      <div class="d-flex next w-100 justify-content-center">
        <button class="btn mt-1" >Next</button>
      </div>
    </form>
    <button class="btn skip mt-2" routerLink="/logging/shopInfo">Skip for Now</button>
  </div>
</div>
