<app-navbar></app-navbar>
<section
  class="shop-header"
  [ngStyle]="{
    'background-image': 'url(' + (shop?.pictureUrl ) + ')',
    'background-size': 'cover',
    'background-repeat': 'no-repeat',
    'background-position': 'center'
  }"
>
  <div class="overlay">
    <div class="action-buttons">
      <button class="custom-btn">
        <i class="fas fa-comment-alt"></i> Chat
      </button>
      <button class="custom-btn" *ngIf="!followed" (click)="follow()">
        <i class="fas fa-user-plus"></i> Follow
      </button>
      <button class="custom-btn unfollow" *ngIf="followed" (click)="unfollow()">
        unFollow
      </button>
    </div>
    <div class="welcome-text">
      <h1 class="title">Welcome to {{ shop?.shopName }}</h1>
    </div>
  </div>
</section>
<section class="product-section">
  <h2>Our Most Amazing Products</h2>
  <div class="product-list">
    <div class="product-card" *ngFor="let product of products">
      <img [src]="product.imageUrl" alt="product" />
      <div class="info">
        <p class="category">{{ product.categoryName }}</p>
        <p class="price">{{ product.price }}</p>
        <p class="name">{{ product.name }}</p>
        <button class="buy-btn">Buy Now</button>
      </div>
    </div>
  </div>
</section>
