img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.position-relative {
  position: relative;
}

.content {
  background-color: rgba(124, 147, 195, 0.54);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: height 0.4s ease-in-out;
}
.gold{
  color: gold;
}
.gray{
  color: #00000033;
}
p{
  margin-bottom: 0;
  color: white;
}
.p1{
  font-size: 25px;
  font-weight: bold;
}
.content:hover {
  height: 100%;
}

@media (max-width : 768px){

  .input{
    padding: 10px !important;
  }
  .search{
    padding: 0px 3px !important;
  }
  .gx-5 {
    --bs-gutter-x: 0rem !important;
    }
}
.x{
  outline: none;
  border-color: transparent;
  padding: 2px;
  padding: 0;
  right: 5px;
  top: 50%;
  z-index: 66;
  transform: translate(0, -50%);
  position: absolute;
  border: none;
  padding: 0 4px;
  border-radius: 12px;
}
.search{
  padding: 0px 10px !important;
  width: fit-content !important;
  margin-left: 1rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input{
  padding: 16px 25px !important;
  width: 104%;
}
.x:hover{
  background-color: rgba(226, 0, 0, 0.829);
  color: white ;
}
button{
  outline: none;
  background-color: var(  --color-third);
  border-color: transparent;
  color: white;
}
input{
  outline: none;
  border: 1px solid #0909094D;
}
a{
  text-decoration: none;
  cursor: pointer;
}
.socail a i{
  border-radius: 50%;
  padding: 13px;
  border: .5px solid white;
  color: white;
}
.socail{
  margin-bottom: 5px;
}

.details{
  top: 20rem;
}
