<app-navbar></app-navbar>
<div class="container mt-5">
  <div class=" justify-content-center d-flex mb-5">
    <div class="position-relative">
      <input type="text" class="rounded-pill input" [(ngModel)]="coachName" placeholder="Search" >
      <button [hidden]="hide" class="x" (click)="onClickButton()"><i class="fa-solid fa-x"></i></button>
    </div>

      <button (click)="searchCoach()" class="rounded-pill search"><i class="fa-solid fa-magnifying-glass me-2"></i>Search</button>
  </div>

  <div class="d-flex justify-content-around mt-4 mb-5 filter">
    <div class="position-relative">
    <div class="rating-filter">
    <label class="fw-bold d-block mb-2">Rating: {{ minRating }} to 5</label>
    <div class="d-flex align-items-center pointer">
      <input
      type="range"
      min="0"
      max="5"
      step="1"
      [(ngModel)]="minRating"
      (change)="onRatingRangeChange()"
      class="rating-range me-2"
    />
      <i
    class="fa fa-refresh reset-icon pointer"
    title="Reset"
    (click)="resetRating()"
  ></i>
    </div>

    </div>
    </div>

    <div class="position-relative  align-content-center">
      <select class="select-filter" (change)="onSortChange($event)">
        <option value="" hidden selected>Sort</option>
        <option value="none">All Coach</option>
        <option value="coachName">Coach Name</option>
        <option value="rating">Rating</option>
        <option value="joinedDate">Joined Date</option>
      </select>
      <i class="fa-solid fa-caret-down end-i"></i>
    </div>
  </div>

  <div class="gy-5 gx-5 row" *ngIf="dataLoaded">
    <ng-container *ngIf="coachs.length > 0 ; else noCoachFound">
    <div class="col-md-6 col-lg-4 responsive" *ngFor="let coach of coachs">

      <div class="position-relative ">
        <img [src]="coach.profilePictureUrl || 'assets/coach.png'" alt="coach Image">
        <div class="position-absolute content d-flex flex-column  ">
          <div class="mb-4">
            <p class="p1 text-center">{{coach.fullName}}</p>
            <p class="p2 text-center">Personal Trainer</p>
            <div class="d-flex justify-content-center ">
              <span cl *ngFor="let star of stars; let i = index">
                <i class="fas me-1" [ngClass]="i < coach.rating ? 'fa-star gold ' : 'fa-star gray'"></i>
              </span>
            </div>

          </div>
          <div class="socail w-75 d-flex justify-content-evenly">
            <a ><i class="fa-brands fa-x-twitter"></i></a>
            <a ><i class="fa-brands fa-facebook"></i></a>
            <a ><i class="fa-brands fa-whatsapp"></i></a>
          </div>
          <div class="position-absolute details">
            <button class="p-2"  (click)="gotToDetails(coach.id)" routerLinkActive="router-link-active" >Read More</button>
          </div>
        </div>

      </div>

    </div>
    </ng-container>

    <ng-template #noCoachFound>
      <h5 class="text-primary fw-semibold mb-4 text-center noContacts" >No Coaches Found</h5>
    </ng-template>
  </div>


  <div class="d-flex justify-content-center mt-4">
    <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="totalCoach"
    (pageChange)="onPageChange($event)"
    [maxSize]="dynamicMaxSize"

  >
  <ng-template  ngbPaginationPrevious class="ngt ">Prev</ng-template>
  <ng-template ngbPaginationNext class="ngt"><i class="fa-solid fa-arrow-right"></i></ng-template>
  </ngb-pagination>

  </div>

</div>

