<app-navbar></app-navbar>
<section class="hero-section">
  <div class="action-buttons">
    <button class="custom-btn">
      <i class="fas fa-comment-alt"></i> Chat
    </button>
    <button class="custom-btn">
      <i class="fas fa-user-plus"></i> Follow
    </button>
  </div>

  <div class="overlay">
    <h1 class="title">Welcome To {{ gymName }}!</h1>
  </div>
</section>



<div class="container py-4">
  <div class="row align-items-center justify-content-between">

    <!-- اليسار -->
    <div class="col-md-6 d-flex align-items-center gap-3 flex-md-nowrap flex-wrap">
      <img
        [src]="coachImage"
        alt="Coach"
        class="rounded-circle"
        width="50"
        height="50"
      />
      <strong>{{ coachName }}</strong>
      <span class="text-muted">||</span>
      <a href="#" class="text-primary fw-medium text-decoration-none">
       4,562 Enrolled Trainees
      </a>
    </div>


      <div class="col-md-6 d-flex justify-content-md-end justify-content-start mt-3 mt-md-0">
        <div class="rating-badge d-flex align-items-center gap-2 px-3 py-2 rounded-pill">
          <span class="rating-text">{{ averageRating }} Rating</span>
          <div class="stars d-flex">
            <ng-container *ngFor="let star of stars; let i = index">
              <i class="star" [class.filled]="i < filledStars">&#9733;</i>
            </ng-container>
          </div>
          <div class="actions d-flex gap-1">
            <button class="action-btn add-btn bg-danger" [hidden]="isRated" (click)="openRateModal()">+</button>
            <button class="action-btn edit-btn bg-primary" [hidden]="!isRated" (click)="openUpdateModal()" >&#9998;</button>
          </div>
        </div>
      </div>


    </div>
  </div>





  <section class="tabs-section">
    <div class="tabs-container">
      <button
        class="tab"
        [class.active]="selectedTab === 'Description'"
        (click)="scrollToSection('description-section', 'Description')"
      >
        Description
      </button>

      <button
        class="tab"
        [class.active]="selectedTab === 'Subscription'"
        (click)="scrollToSection('subscription-section', 'Subscription')"
      >
        Subscription
      </button>


      <button
        class="tab"
        [class.active]="selectedTab === 'Posts'"
        (click)="scrollToSection('posts-section', 'Posts')"
      >
        Posts
      </button>
    </div>
  </section>






  <section id="description-section" class="fitness-section">
    <!-- الصورة -->
    <div class="fitness-image-wrapper">
      <img src="/assets/Rectangle 40.png" alt="Runner" class="fitness-image" />
    </div>

    <!-- النص والعناصر -->
    <div class="fitness-content">
      <h1>Welcome to <br /><strong>{{gymName}}</strong></h1>
      <p class="description">
           {{Desctibtion}} </p>

      <div class="features">
        <div class="feature">
          <i class="fas fa-dumbbell"></i> <strong>Personal Training</strong><br />
          <span>Etim uiopk etim</span>
        </div>
        <div class="feature">
          <i class="fas fa-heartbeat"></i> <strong>Cardio Programs</strong><br />
          <span>Etim uiopk etim</span>
        </div>
        <div class="feature">
          <i class="fas fa-apple-alt"></i> <strong>Healthy Nutrition</strong><br />
          <span>Etim uiopk etim</span>
        </div>
        <div class="feature">
          <i class="fas fa-cogs"></i> <strong>Quality Equipment</strong><br />
          <span>Etim uiopk etim</span>
        </div>
      </div>
    </div>
  </section>


  <section  id="subscription-section" class="packages-section">
    <h2 class="section-title mt-5">Choose Best Suitable <br> Package For You</h2>

    <div class="packages-container">
      <div class="package-card">
        <h3>Annual Price</h3>
        <p class="price">{{yearlyPrice}} EGP <span>/ Year</span></p>
        <ul class="package-features">
          <li>✅ Unlimited gym access</li>
          <li>✅ Free consultation with the trainer</li>
          <li>✅ Unlimited gym access</li>
        </ul>
        <button class="package-btn">Subscribe</button>
      </div>

      <div class="package-card">
        <h3>Monthly</h3>
        <p class="price">{{monthlyPrice}} EGP <span>/ Month</span></p>
        <ul class="package-features">
          <li>✅ Unlimited gym access</li>
          <li>✅ Free consultation with the trainer</li>
          <li>✅ Unlimited gym access</li>
        </ul>
        <button class="package-btn">Get Started</button>
      </div>

      <div class="package-card">
        <h3>Semi-Monthly Price</h3>
        <p class="price">{{fortnightlyPrice}} EGP <span>/Semi-Monthly</span></p>
        <ul class="package-features">
          <li>✅ Unlimited gym access</li>
          <li>✅ Free consultation with the trainer</li>
          <li>✅ Unlimited gym access</li>
        </ul>
        <button class="package-btn">Subscribe</button>
      </div>

      <div class="package-card">
        <h3>Session Price</h3>
        <p class="price">{{sessionPrice}} EGP <span>/Session</span></p>
        <ul class="package-features">
          <li>✅ Unlimited gym access</li>
          <li>✅ Free consultation with the trainer</li>
          <li>✅ Unlimited gym access</li>
        </ul>
        <button class="package-btn">Subscribe</button>
      </div>
    </div>




  </section>




