.cont{
    border: 1px solid;
    display: flex;
    margin-bottom: 8px;
}
a{
  padding: 5px 20px;
  color: var(--color-third);
  text-decoration: none;
  cursor: pointer;
}
a.active{
  background-color: var(--color-third);
  color: white;
}
.changStyle{
  background-color: var(--color-third);
  color: white;
  pointer-events: none;
}
