.page{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.cont{
  border-radius: 15px;
  box-shadow: 39.266666412353516px -39.266666412353516px 39.27px rgba(165, 165, 165, 0.1) inset, -39.266666412353516px 39.266666412353516px 39.27px rgba(255, 255, 255, 0.1) inset;
  backdrop-filter: blur(78.53px);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 2.5rem 2rem;
}
.cont .x {
  right: 17px;
    top: 7%;
    z-index: 66;
    transform: translate(0, -50%);
    position: absolute;
    background-color: var(--color-third);
    color: white;
    border-color: transparent;
    padding: 0 9px;
    border-radius: 0 8px 0px 8px;
}
.end-i{
  right: 17px;
  top: 47%;
  z-index: 66;
  transform: translate(0, -50%);
  position: absolute;
}

.input{
  outline:none;
  border-radius: 24px;
  padding: .5rem 2rem;;
  border: 1px solid var(--color-third);
  width: 100%;
  box-shadow: 39.266666412353516px -39.266666412353516px 39.27px rgba(165, 165, 165, 0.1) inset, -39.266666412353516px 39.266666412353516px 39.27px rgba(255, 255, 255, 0.1) inset;
  backdrop-filter: blur(78.53px);
  background-color: rgba(255, 255, 255, 0.3);

}
.btn{
  background: var(--gradient-bg);
  box-shadow: var(--drop-shadow);
  cursor: pointer;
  border: 1px solid white;
  color: white;
  width: 85%;
  position: relative;
  font-size: 20px;
}
.header p{
  color: var(--color-third);
  font-size: 32px;
}
.text p{
  color: white;
  font-size: 16px;
}
a{
  text-decoration: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: baseline;
  font-size: 20px;
}
.no-margin{
  margin: 0 !important;
}
.fa-arrow-left{
  color: white;
}
input::placeholder{
  color: var(--color-third);
}
input{
  font-size: 20px;
}
@media (max-width :576px) {

  .text p{
  font-size: 12px;
  text-align: center !important;
 }
 .header p{
  font-size: 19px;
}
a{
  font-size: 14px;
}
input{
  font-size: 15px;
}

}

@media (min-width: 576px) {
  .cont{
    width: 80% ;
  }
}

@media (min-width: 768px) {
  .cont{
    width: 75%;
  }
}

@media (min-width: 992px) {
  .cont{
    width: 60% ;
  }
}

@media (min-width: 1200px) {
  .cont{
    width: 44% ;
  }
}

@media (min-width: 1400px) {
  .cont{
    width: 40% ;
  }
}

