<div class="container page">
  <div class="cont d-flex position-relative align-content-center flex-column ">
    <button class="x"  routerLink="/layout/home"><i class="fa-solid fa-x"></i></button>
    <div class="header d-flex justify-content-center">
      <p>Forget Your Password?</p>
    </div>
    <div class="text">
      <p class="ms-4">No worries, we will sent you reset instructions, just write your email.</p>
    </div>
    <form class="d-flex flex-column" [formGroup]="emailForm" (ngSubmit)="sendEmail()" >
      <div class="form-group w-100 mb-4" [ngClass]="{'no-margin': email?.invalid && email?.touched}">
        <div class="position-relative">
        <input
          type="email"
          name="email"
          class="w-100 input"
          placeholder="Email"
          formControlName="email"
        />
        <i class="fa-regular fa-envelope end-i"></i>
      </div>
      <div *ngIf="email?.invalid && (email?.touched || email?.dirty)">
        <small style="color: red;" *ngIf="email?.errors?.['required']">Please enter Email </small>
        <small style="color: red;" *ngIf="email?.errors?.['email']">Please enter a valid email</small>
      </div>
      </div>
      <div class=" d-flex mt-2 justify-content-center">
        <button [disabled]="emailForm.invalid" class="btn" >Reset Password</button>
      </div>
    </form>
    <div class="d-flex justify-content-center mt-3">
      <a routerLink="/logging/login" ><i class="fa-solid fa-arrow-left"></i><p class="ms-2"> Back to log in</p></a>
    </div>

  </div>
</div>
