  <main class="content mt-4 py-4">
    <h2 class="text-center">Coach Profile</h2>

    <div class="profile-section">
      <!-- Image Column -->
      <div class="profile-info">
        <div class="image-container">
          <img [src]="coachImage || '/assets/avatardefault.svg'" alt="Coach" class="profile-pic" />
          <div class="overlay-icon">
            <i class="fas fa-camera"></i>
          </div>
        </div>
        <h4>{{ coachInfo?.firstName }} {{ coachInfo?.lastName }}</h4>
        <p>Professional Fitness Trainer</p>

        <div class="social">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-twitter"></i>
        </div>
      </div>

      <!-- Form Column -->
      <form class="profile-form">
        <div class="row">
          <div class="form-group half">
            <label>First Name</label>
            <input type="text" disabled [value]="coachInfo?.firstName" />
          </div>
          <div class="form-group half">
            <label>Last Name</label>
            <input type="text" disabled [value]="coachInfo?.lastName" />
          </div>
        </div>

        <div class="form-group">
          <label>Gender</label>
          <input type="text" disabled  [value]="coachInfo?.gender" />
        </div>
        <div class="form-group">
          <label>Date of Birth</label>
          <input type="date" disabled [value]="coachInfo?.dateOfBirth" />
        </div>
        <div class="form-group" *ngIf="coachInfo?.bio" >
          <label>Bio</label>
          <textarea rows="3" disabled>{{ coachInfo?.bio }}</textarea>
        </div>
        <div class="text-center my-2">
          <button type="submit" class="save-btn text-center" (click)="goToProfile()">Change Data</button>
        </div>

      </form>
    </div>
  </main>
